@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Grupo de voluntades para el apoyo de valores, normas y leyes en cumplimiento de las 
    necesidades de nuestros clientes, elaborando una estructura conceptual en la que se
    ayuda a las personas en carencia de sus derechos humanos, y su situación de género.</p>
