@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bogota D.C. - Colombia<br />
   <br />
    <abbr title="Phone">P:</abbr>
    3209626916
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:soporte@void.net.co">soporte@void.net.co</a><br />
    <strong>Info:</strong> <a href="mailto:info@void.net.co">info@void.net.co</a><br />
    <strong>Genero:</strong> <a href="mailto:genero@void.net.co">info@void.net.co</a>

</address>