@{
    ViewBag.Title = "ONG PAGINA PRINCIPAL";
}
</br></br>
</br></br>
</br></br>
</br></br>
<div class="jumbotron">
    <h1>ONG VOID.NET.CO</h1>
    <p class="lead">Void.NET.CO. Vacio Legal en DERECHOS HUMANOS y COMUNIDAD LGTBQ</p>
    <p>Voluntad de unión de multiples diciplinas en apoyo al VACIO institucional existente entre 
    paises sus políticas y la responsabilidad hacia los derechos humanos.  Actuando siempre bajo un
    análisis metológico de forma conciente, ètica y moral.  Definiendo y llevando acabo nuestros procesos
    con calidad humana y en busca de mejorarlos día a día.  Y en donde nuestro principal objetivo  es 
    alcanzar exitosamente nuestros procesos ante organismos nacionales e internacionales en busca de 
    la defensa de los DDHH y casos de género LGTBQ.</p>

</div>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
<div class="row">
    <div class="col-md-4">
        <h2>DDHH</h2>
        <p>
            - caso1 de tipo1 de ddhh.
        </p>
        <p>
            - caso2 de tipo1 de ddhh.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Género.</h2>
        <p>
            - caso1 de tipo1 de ddhh.
        </p>
        <p>
            - caso2 de tipo1 de ddhh.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Constitucional Colombiano</h2>
        <p>
            - caso1 de tipo1 de ddhh.
        </p>
        <p>
            - caso2 de tipo1 de ddhh.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Constitucional Mexicano</h2>
        <p>
            - caso1 de tipo1 de ddhh.
        </p>
        <p>
            - caso2 de tipo1 de ddhh.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Constitucional Peruano</h2>
        <p>
            - caso1 de tipo1 de ddhh.
        </p>
        <p>
            - caso2 de tipo1 de ddhh.
        </p>
    </div>


</div>
</br></br>
</br></br>

<div class="row">
    <div class="col-md-4">
        <h2>Instituciones Internacionales Defensoras de DDHH</h2>
        <p>
            - Comision Interamericana de derechos humanos.
        </p>
        <p>
            - Corte Interamericana de derechos humanos.
        </p>
        <p>
            - ONU.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Instituciones Colombianas Defensoras de DDHH</h2>
        <p>
            - Personeria Municipal.
        </p>
        <p>
            - ICBF.
        </p>
        <p>
            - Defensoria del Pueblo.
        </p>
        <p>
            - Ministerio de Interior.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Instituciones Mexicanas Defensoras de DDHH</h2>
        <p>
            - .
        </p>
        <p>
            - .
        </p>
        <p>
            - .
        </p>
        <p>
            - .
        </p>
    </div>
    <div class="col-md-4">
        <h2>Instituciones Peruanas Defensoras de DDHH</h2>
        <p>
            - .
        </p>
        <p>
            - .
        </p>
        <p>
            - .
        </p>
        <p>
            - .
        </p>
    </div>
    <div class="col-md-4">
        <h2>Instituciones Venezolanas Defensoras de DDHH</h2>
        <p>
            - .
        </p>
        <p>
            - .
        </p>
        <p>
            - .
        </p>
        <p>
            - .
        </p>
    </div>


</div>